<div class="nav-bar"></div>

<div id="app">
  <div class="cart">
      <p> Cart({{ cart.length }}) </p>
    </div>
  
  <product :premium="premium" @add-to-cart="updateCart" @remove-from-cart="removeItem"></product>

</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>